body {
    background-color: #F0EFEB;
    /* background-image: url("file:///misc/ifba/workspaces/web design/curriculo/imagens/fundo.jpg"); */
}

h2 {
    background-color: #eddcd2;
}

.foto {
    width: 90%;
    height: auto;
    border: rgb(14, 13, 13) 1px solid;
}

.info {
    font-size: medium;
}

.coluna {
    float: left;
    width: 50%;
}

.coluna_foto {
    float: left;
    width: 20%;
}

.coluna_dados_pessoais {
    float: left;
    width: 80%;
}

@media screen and (max-width: 992px) {
    .foto {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: larger;
    }

    h2 {
        font-size: medium;
    }

    .info {
        font-size: small;
    }

    .coluna {
        width: 100%;
    }
}