body {
    background-color: #f6f6f6;
    background-image: url("file:///misc/ifba/workspaces/web design/curriculo/imagens/pattern.jpg");
}

h1 {
	font-family: Georgia;
    border-bottom: 3px solid rgb(54, 121, 126);
	background-color: #7691db;
	color: rgb(24, 21, 21);
	padding: 5px;
}

h2 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	border-top: 1px solid rgb(54, 121, 126);
	border-bottom: 1px solid rgb(54, 121, 126);
	background-color: #9baee5;
	padding-left: 5px;
	font-weight: normal;
}

table {
    border: 0em;
    width: 100%;
}

th {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(60, 100, 85);
    color: lightcyan;
}

tr {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgray;
}

a {
	text-decoration: none;
	color: rgb(25, 18, 122);
}

a:visited {
	text-decoration: none;
	color: rgb(47, 83, 47);
}

a:hover {
	text-decoration: none;
	color: rgb(90, 80, 233);
}

.foto {
	float: right;
    margin-right: 5em;
    margin-top: 1em;
	border: #fff 1em solid;
	-webkit-box-shadow: 0px 0px 5px 5px #191b30;
	-moz-box-shadow: 0px 0px 5px 5px #191b30;
	box-shadow: 0px 0px 5px 5px #191b30;
}

.secao {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nome, .email {
    font-weight: bold;
    color: rgb(91, 40, 212);
}

.entrada_dados {
    background-color: transparent;
}

input, textarea {
	border: rgb(60, 100, 85) 1px solid;
	width: 30em;
}

.botao {
	border: #bbb 1px solid;
    margin-top: 0.5em;
    width: 80px;
}